// Importing Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// ############# Variables #############
// Colors
$primary-color: #74CC01;
$bg-color: #355c82;
$container-bg-color: #ffffff;
$inner-info-color: #878A94;
// Numerics
$s-tube-width: 2rem;
$m-tube-width: 3rem;
$l-tube-width: 4rem;
// ############# Variables #############

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: $bg-color;
    text-align: center;
    font-family: 'Roboto', sans-serif;

    ::selection {
        color: #ffffff;
        background: $primary-color;
    }

    .main {
        margin: 4rem 1rem;
        display: grid;
        grid-template-columns: 1fr;
        // grid-template-rows: 320px 1fr 40px;
        grid-template-rows: 10rem 1fr 2rem;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .header { 
            grid-area: 1 / 1 / 2 / 2;
            background: $primary-color;
            display: flex;
            justify-content: center;
            align-content: center;
            // text-align: center;
            // height: 320px;

            h1 {
                color: $container-bg-color;
                margin: auto;
                font-size: 2em;
            }
        }
        
        .main-content-container {
            grid-area: 2 / 1 / 3 / 2;
            display: grid;
            grid-template-columns: $s-tube-width 1fr;
            // grid-template-rows: 4rem 1fr 4rem;
            grid-template-rows: 3rem 1fr 3rem;
            // grid-column-gap: 0px;
            // grid-row-gap: 0px;
            
            .header-extended { 
                grid-area: 1 / 1 / 2 / 4; 
                background: $primary-color;
            }
            .info-sec-container { 
                grid-area: 2 / 2 / 3 / 4; 

                .info-sec {
                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    // grid-template-rows: 1fr;
                    // grid-column-gap: 4rem;
                    // grid-row-gap: 0px;
                    
                    .img-container { 
                        // grid-area: 1 / 1 / 2 / 2; 

                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            object-fit: cover;
                        }
                    }
                    .info-container { 
                        // grid-area: 1 / 2 / 2 / 3; 
                        background: $container-bg-color;
                        color: $inner-info-color;
                        padding: 2rem 1rem;

                        .campaign-heading {
                            color: $primary-color;
                            font-size: 2rem;
                        }

                        .campaign-description {
                            text-align: left;
                            font-size: 1rem;
                            margin: 1rem 0 1.5rem;
                        }

                        .inner-info-container {
                            // display: flex;
                            // justify-content: space-around;
                            // flex-wrap: wrap;
                            display: grid;
                            grid-template-rows: 1fr 1fr;
                            row-gap: 1rem;

                            .inner-info {
                                font-size: 1.125rem;

                                strong {
                                    color: $primary-color;
                                }
                            }
                        }
                    }

                    // .move-to-right {
                    //     order: 1;
                    // }
                }                        
            }
            .footer-extended { 
                grid-area: 3 / 1 / 4 / 4; 
                background: $primary-color;
            }
            .tube { 
                grid-area: 1 / 1 / 4 / 2;
                background: #3d3d3d;
                border-radius: 100px;
            }
        }

        .footer { 
            grid-area: 3 / 1 / 4 / 2;
            background: $primary-color;
            // height: 2.5rem;
        }
    }
        
}

// Tablet
@media screen and (min-width: 460px) {
    body {
        // background: $bg-color;
        // text-align: center;
    
        .main {
            margin: 4rem auto;
            width: 90%;
            display: grid;
            grid-template-columns: 1fr;
            // grid-template-rows: 320px 1fr 40px;
            grid-template-rows: 10rem 1fr 2.5rem;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
    
            .header { 
                grid-area: 1 / 1 / 2 / 2;
                background: $primary-color;
                display: flex;
                justify-content: center;
                align-content: center;
                // text-align: center;
                // height: 320px;
    
                h1 {
                    // margin: auto;
                    font-size: 3em;
                }
            }
    
            .main-content-container {
                // grid-area: 2 / 1 / 3 / 2;
                // display: grid;
                grid-template-columns: $m-tube-width 1fr;
                // grid-template-rows: 4rem 1fr 4rem;
                grid-template-rows: 5rem 1fr 5rem;
                // grid-column-gap: 0px;
                // grid-row-gap: 0px;
                
                .header-extended { 
                    // grid-area: 1 / 1 / 2 / 4; 
                    // background: $primary-color;
                }
                .info-sec-container { 
                    grid-area: 2 / 2 / 3 / 4; 

                    .info-sec {
                        // display: grid;
                        // grid-template-columns: repeat(2, 1fr);
                        // grid-template-rows: 1fr;
                        // grid-column-gap: 4rem;
                        // grid-row-gap: 0px;
                        
                        .img-container { 
                            // grid-area: 1 / 1 / 2 / 2; 

                            img {
                                // width: 100%;
                                // display: block;
                                // object-fit: cover;
                            }
                        }
                        .info-container { 
                            // grid-area: 1 / 2 / 2 / 3; 
                            background: $container-bg-color;
                            padding: 2rem;

                            .campaign-heading {
                                // color: $primary-color;
                                font-size: 2.5rem;
                            }
    
                            .campaign-description {
                                text-align: left;
                                font-size: 1rem;
                                margin: 1.5rem 0 2rem;
                            }
    
                            .inner-info-container {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
    
                                .inner-info {
                                    // font-size: 1.125rem;
    
                                    strong {
                                        // color: $primary-color;
                                    }
                                }
                            }
                        }

                        // .move-to-right {
                        //     order: 1;
                        // }
                    }                        
                }
                .footer-extended { 
                    // grid-area: 3 / 1 / 4 / 4; 
                    // background: $primary-color;
                }
                .tube { 
                    grid-area: 1 / 1 / 4 / 2;
                    // background: #3d3d3d;
                    // border-radius: 100px;
                }
            }

            .footer { 
                // grid-area: 3 / 1 / 4 / 2;
                // background: $primary-color;
                // height: 2.5rem;
            }
        }
            
    }
}

// Desktop
@media screen and (min-width: 787px) {
    body {
        .main {
            // display: grid;
            // grid-template-columns: 1fr;
            grid-template-rows: 16rem 1fr 3rem;
            // grid-column-gap: 0px;
            // grid-row-gap: 0px;
            margin: 5rem auto;
            max-width: 1174px;
    
            .header { 
                grid-area: 1 / 1 / 2 / 2;
                background: $primary-color;
                display: flex;
                justify-content: center;
                align-content: center;
                text-align: center;
                // height: 320px;
    
                h1 {
                    // margin: auto;
                }
            }
    
            .main-content-container {
                // grid-area: 2 / 1 / 3 / 2;
                // display: grid;
                grid-template-columns: 1fr $l-tube-width 1fr;
                grid-template-rows: 120px 1fr 120px;
                // grid-column-gap: 0px;
                // grid-row-gap: 0px;
                
                .header-extended { 
                    // grid-area: 1 / 1 / 2 / 4; 
                    // background: #74CC01;
                }
                .info-sec-container { 
                    grid-area: 2 / 1 / 3 / 4; 

                    .info-sec {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        // grid-template-rows: 1fr;
                        grid-column-gap: $l-tube-width;
                        // grid-row-gap: 0px;
                        
                        .img-container { 
                            // grid-area: 1 / 1 / 2 / 2; 

                            img {
                                // width: 100%;
                                // display: block;
                            }
                        }
                        .info-container { 
                            // grid-area: 1 / 2 / 2 / 3;
                            display: flex;
                            flex-direction: column;
                            padding: 2rem 1.5rem;
                            
                            .inner-info-container {
                                margin: auto 0 0;
                            }
                        }

                        .move-to-right {
                            order: 1;
                        }
                    }                        
                }
                .footer-extended { 
                    // grid-area: 3 / 1 / 4 / 4; 
                    // background: #74CC01;
                }
                .tube { 
                    grid-area: 1 / 2 / 4 / 3;
                    // background: #3d3d3d;
                    // border-radius: 100px;
                }
            }

            .footer { 
                // grid-area: 3 / 1 / 4 / 2;
                // background: #74CC01;
                // height: 2.5rem;
            }
        }
            
    }
}